@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,800');
#particles-js {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.welcome-area {
  position: relative;
  z-index: 999999;
  padding-top: 80px;
}

.welcome-text h4 {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 50px;
  line-height: 26px;
}

.welcome-text h1 {
  font-size: 43px;
  font-weight: 700;
  line-height: 50px;
}

.welcome-btn {
  margin-right: 10px;
}

.welcome-area::before {
  position: absolute;
  width: 100%;
  height: 161%;
  content: "";
  background: url(assets/img/Group1.png) no-repeat;
  background: ;
  top: -62%;
  left: -29%;
  z-index: -1;
}

.gradient-btn.v2 {
  height: 55px;
  line-height: 36px;
  padding-left: 30px;
  padding-right: 30px;
}

/*===================
     about css
=====================*/

/*===================
mobile menu css
======================*/

.welcome-area.v2 {
  padding: 90px 0;
  padding-top: 90px;
  padding-top: 160px;
}

.v2.welcome-progress {
  background: #001763;
  padding: 50px 30px;
  border-radius: 10px;
  box-shadow: 0 0 45px #0324af;
}

.progress.v2 {
  margin: 10px 0;
  height: 30px;
  background: #062489;
}

.v2.welcome-progress a.gradient-btn {
  width: 100%;
  padding: 15px 0px;
}

.progress.v2 .progress-bar {
  border-radius: 50px;
  background: -webkit-linear-gradient(top, #00bbf9, #005eea);
  position: relative;
  z-index: 2;
}

.progress.v2 .progress-bar:after {
  position: absolute;
  content: "";
  height: 50px;
  width: 50px;
  background: -webkit-linear-gradient(top, #00bbf9, #005eea);
  right: 0;
  border-radius: 50px;
}

/*===================
token area v2 css
======================*/

.welcome-header {
  padding: 150px 0;
  font-size: 18px;
  text-transform: capitalize;
}

.welcome-header a {
  -webkit-transition: all .3s;
  -o-transition: all 3s;
  transition: all .3s;
}

.welcome-header a:hover {
  color: #fff;
  -webkit-transition: all .3s;
  -o-transition: all 3s;
  transition: all .3s;
}

.welcome-header i {
  padding: 0 10px;
}

.welcome-area.bv {
  background: url(assets/img/about-shap.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 2;
}

.welcome-area.bv:after {
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  background: #000;
  opacity: .8;
  left: 0;
  top: 0;
  z-index: -1;
}

.section-padding {
  padding: 90px 0;
}

.space-10 {
  height: 10px;
}

.space-20 {
  height: 20px;
}

.space-30 {
  height: 30px;
}

.space-40 {
  height: 40px;
}

.space-50 {
  height: 50px;
}

.space-60 {
  height: 60px;
}

.space-70 {
  height: 70px;
}

.space-80 {
  height: 80px;
}

.space-90 {
  height: 90px;
}

.space-100 {
  height: 100px;
}

.mr-20 {
  margin-right: 20px;
}

.bg-light {
  background-color: transparent !important;
}

.basetext {
  color: #F8FAE4;
}

.basebackground {
  background: #F8FAE4;
}

.basebuttontext {
  color: #2283AD;
}

.paratext {
  color: #2283AD;
}

.base {
  padding: 7px;
  border-color: #2283AD;
  border: 1px solid #2283AD;
  font-size: 16px;
  border-radius: 10px;
  font-weight: 500;
}